@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@theme inline {
	--font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--font-weight-100: 100;
	--font-weight-200: 200;
	--font-weight-300: 300;
	--font-weight-400: 400;
	--font-weight-500: 500;
	--font-weight-600: 600;
	--font-weight-700: 700;
	--font-weight-800: 800;
	--font-weight-900: 900;

	--leading-1125: 1.125;
	--leading-1250: 1.25;
	--leading-1375: 1.375;
	--leading-1500: 1.5;
	--leading-1625: 1.625;
	--leading-2000: 2;
}

:root {
	--background: var(--color-white);
	--foreground: var(--color-gray-800);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--color-slate-900);
		--foreground: var(--color-slate-50);
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-sans);
}
